@font-face {
  font-family: 'GB Regular';
  src: url('../font/PokemonGB/GBRegular.woff2') format('woff2'),
  url('../font/PokemonGB/GBRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  background: #22384F;
  color: #fff;
}

body {
  /* Allow mouse dragging. */
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  /* disable touch panning/zooming */
  -ms-touch-action: none;
  touch-action: none;

  /* Allow canvas to hit the edges of the browser viewport. */
  margin: 0;
  overflow: hidden;
  font-family: "GB Regular", monospace, serif;
}

html.xy-centered, html.xy-centered body {
  position: relative;
  width: 100%;
  height: 100%;
}

body > footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

body > footer, .debug {
  padding: 16px;
  font-size: 8px;
}

a, a:hover {
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html.xy-centered .main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main, .game canvas {
  margin: auto;
  /* Hide the gap for font descenders. */
  display: block;
}

.no-scale-interpolation {
  /* disable scaling interpolation */
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.default-resolution .main {
  background: transparent url(../img/gui/frame_gold_sm.png) no-repeat top left;
  width: 352px;
  height: 320px;
}

.default-resolution .main .game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
